@{
    HttpCookie userInfo = Request.Cookies["userInfo"];
    var CidTeacher = Server.UrlTokenDecode(userInfo["id_type_account"]);
    string id_teacher = System.Text.UTF8Encoding.UTF8.GetString(CidTeacher);
}

<div class="row" style="margin-left:15px;margin-right:15px;margin-top:10px;">
    <form method="post" name="formCreateDiscipline" ng-submit="submitCreateDiscipline(formCreateDiscipline)">
        <div class="form-group" ng-class="{ 'has-error has-feedback': formCreateDiscipline.inputDisciplineName.$dirty && formCreateDiscipline.inputDisciplineName.$error.required }">

            <label>Nome da Disciplina *</label>

            <div class="input-group">
                <input type="hidden" name="idTeacher" value="@id_teacher" ng-model="Discipline.idTeacher" ng-init="Discipline.idTeacher=@id_teacher" />
                <input type="text" class="form-control" name="inputDisciplineName" ng-model="Discipline.name" placeholder="Nome" required />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </span>
            </div>

            <p class="bg-danger" ng-show="formCreateDiscipline.inputDisciplineName.$dirty && formCreateDiscipline.inputDisciplineName.$error.required">
                Campo inválido.
            </p>
        </div>

        <div class="text-center">
            <img class="img-loading" src="@Url.Content("~/Content/images/loader.gif")" alt="Loading" ng-show="loadingCad" />
        </div>

        <div ng-class="resultCad" ng-show="resultShowCreate">{{ resultMessageCad }}</div>
    </form>
</div>