@model PDS.Models.Entities.Students

<form id="formStudent" name="formStudent" class="form" method="post" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title-custom">Criar conta de Estudante</h4>
    </div>
    <div class="modal-body">

        <div class="form-group" ng-class="{ 'has-error has-feedback': formStudent.inputFirstName.$dirty && formStudent.inputFirstName.$error.required }">
            <label for="inputFirstName">Primeiro nome</label>
            <input type="text" class="form-control" name="inputFirstName" ng-model="inputFirstName" placeholder="Primeiro nome" required />
        </div>

        <div class="form-group" ng-class="{ 'has-error has-feedback': formStudent.inputLastName.$dirty && formStudent.inputLastName.$error.required }">
            <label for="inputLastName">Segundo nome</label>
            <input type="text" class="form-control" name="inputLastName" ng-model="inputLastName" placeholder="Segundo nome" required/>
        </div>

        <div class="form-group">
            <label for="inputImage">Imagem Perfil</label>
            <input type="file" id="inputFile" name="inputFile" />
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label for="inputSexo">Sexo</label>
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" id="inputGender" name="inputGender" value="M" checked /> Homem
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" id="inputGender" name="inputGender" value="F" /> Mulher
                    </label>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group" ng-class="{ 'has-error has-feedback': formStudent.inputBirthday.$dirty && formStudent.inputBirthday.$error.required }">
                    <label for="inputBirthday">Data Nasc.</label>
                    <input type="date" class="form-control" name="inputBirthday" ng-model="inputBirthday" required />
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error has-feedback': formStudent.inputEmail.$dirty && formStudent.inputEmail.$error.email }">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" name="inputEmail" ng-model="inputEmail" placeholder="Email" required />
        </div>

        <div class="form-group" ng-class="{ 'has-error has-feedback': formStudent.inputPassword.$dirty && formStudent.inputPassword.$error.required }">
            <label for="inputPassword">Senha</label>
            <input type="password" class="form-control" name="inputPassword" ng-model="inputPassword" placeholder="Senha" ng-minlength="6" required />
            <p class="bg-danger" ng-show="formStudent.inputPassword.$error.minlength">
                A senha deve conter no mínimo 6 caracteres.
            </p>
        </div>

        <div class="form-group" ng-class="{ 'has-error has-feedback': formStudent.inputCity.$dirty && formStudent.inputCity.$error.required }">
            <label for="inputCity">Cidade</label>
            <input type="text" class="form-control" name="inputCity" ng-model="inputCity" placeholder="Cidade" required />
        </div>

        <div class="form-group" ng-class="{ 'has-error has-feedback': formStudent.inputCountry.$dirty && formStudent.inputCountry.$error.required }">
            <label for="inputCountry">País</label>
            <input type="text" class="form-control" name="inputCountry" ng-model="inputCountry" placeholder="País" required />
        </div>

        <div id="loadingStudent" class="text-center loading-login">
            <img class="img-loading" src="@Url.Content("~/Content/images/loader.gif")" alt="Loading" />
        </div>

        <div id="resultStudent" class="result"></div>

    </div>
    <div class="modal-footer">
        <button type="submit" id="submitButtonStudent" class="btn btn-success" ng-disabled="!formStudent.$valid">Criar conta</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
    </div>
</form>
