@model PDS.Models.Entities.Students

<form id="formStudent" name="formStudent" class="form" method="post" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title-custom">Criar conta de Estudante</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="inputFirstName">Primeiro nome</label>
            <input type="text" class="form-control" name="inputFirstName" placeholder="Primeiro nome" required />
        </div>

        <div class="form-group">
            <label for="inputLastName">Segundo nome</label>
            <input type="text" class="form-control" name="inputLastName" placeholder="Segundo nome" />
        </div>

        <div class="form-group">
            <label for="inputImage">Imagem Perfil</label>
            <input type="file" id="inputFile" name="inputFile" />
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label for="inputSexo">Sexo</label>
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" id="inputGender" name="inputGender" value="M" checked /> Homem
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" id="inputGender" name="inputGender" value="F" /> Mulher
                    </label>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label for="inputBirthday">Data Nasc.</label>
                    <input type="date" class="form-control" name="inputBirthday" required />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" name="inputEmail" placeholder="Email" required />
        </div>

        <div class="form-group">
            <label for="inputPassword">Senha</label>
            <input type="password" class="form-control" name="inputPassword" placeholder="Senha" required />
        </div>

        <div class="form-group">
            <label for="inputCity">Cidade</label>
            <input type="text" class="form-control" name="inputCity" placeholder="Cidade" required />
        </div>

        <div class="form-group">
            <label for="inputCountry">País</label>
            <input type="text" class="form-control" name="inputCountry" placeholder="País" required />
        </div>

        <div id="loadingStudent" class="text-center loading-login">
            <img class="img-loading" src="@Url.Content("~/Content/images/loader.gif")" alt="Loading" />
        </div>

        <div id="resultStudent" class="result"></div>

    </div>
    <div class="modal-footer">
        <button type="submit" id="submitButtonStudent" class="btn btn-success">Criar conta</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
    </div>
</form>
