@model PDS.Models.Entities.Teachers

<form id="formTeacher" name="formTeacher" class="form" method="post" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title-custom">Criar conta de Professor(a)</h4>
    </div>
    <div class="modal-body">

        <div class="form-group" ng-class="{ 'has-error has-feedback': formTeacher.inputFirstNameT.$dirty && formTeacher.inputFirstNameT.$error.required }">
            <label for="inputFirstNameT">Primeiro nome</label>
            <input type="text" class="form-control" name="inputFirstNameT" ng-model="inputFirstNameT" placeholder="Primeiro nome" required />
        </div>

        <div class="form-group" ng-class="{ 'has-error has-feedback': formTeacher.inputLastNameT.$dirty && formTeacher.inputLastNameT.$error.required }">
            <label for="inputLastNameT">Segundo nome</label>
            <input type="text" class="form-control" name="inputLastNameT" ng-model="inputLastNameT" placeholder="Segundo nome" required />
        </div>

        <div class="form-group">
            <label for="inputImage">Imagem Perfil</label>
            <input type="file" id="inputFile" name="inputFile" />
        </div>

        <div class="form-group">
            <div class="col-md-4">
                <label for="inputSexo">Sexo</label>
                <br />
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" id="inputGender" name="inputGender" value="M" checked /> Homem
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" id="inputGender" name="inputGender" value="F" /> Mulher
                    </label>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group" ng-class="{ 'has-error has-feedback': formTeacher.inputBirthdayT.$dirty && formTeacher.inputBirthdayT.$error.required }">
                    <label for="inputBirthdayT">Data Nasc.</label>
                    <input type="date" class="form-control" name="inputBirthdayT" ng-model="inputBirthdayT" required />
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error has-feedback': formTeacher.inputEmailT.$dirty && formTeacher.inputEmailT.$error.email }">
            <label for="inputEmailT">Email</label>
            <input type="email" class="form-control" name="inputEmailT" ng-model="inputEmailT" placeholder="Email" required />
        </div>

        <div class="form-group" ng-class="{ 'has-error has-feedback': formTeacher.inputPasswordT.$dirty && formTeacher.inputPasswordT.$error.required }">
            <label for="inputPasswordT">Senha</label>
            <input type="password" class="form-control" name="inputPasswordT" ng-model="inputPasswordT" placeholder="Senha" ng-minlength="6" required />
            <p class="bg-danger" ng-show="formTeacher.inputPasswordT.$error.minlength">
                A senha deve conter no mínimo 6 caracteres.
            </p>
        </div>

        <div class="form-group" ng-class="{ 'has-error has-feedback': formTeacher.inputCityT.$dirty && formTeacher.inputCityT.$error.required }">
            <label for="inputCityT">Cidade</label>
            <input type="text" class="form-control" name="inputCityT" ng-model="inputCityT" placeholder="Cidade" required />
        </div>

        <div class="form-group" ng-class="{ 'has-error has-feedback': formTeacher.inputCountryT.$dirty && formTeacher.inputCountryT.$error.required }">
            <label for="inputCountryT">País</label>
            <input type="text" class="form-control" name="inputCountryT" ng-model="inputCountryT" placeholder="País" required />
        </div>

        <div id="loadingTeacher" class="text-center loading-login">
            <img class="img-loading" src="@Url.Content("~/Content/images/loader.gif")" alt="Loading" />
        </div>

        <div id="resultTeacher" class="result"></div>

    </div>
    <div class="modal-footer">
        <button type="submit" id="submitButtonStudent" class="btn btn-success" ng-disabled="!formTeacher.$valid">Criar conta</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
    </div>
</form>
