html, body{
	background-color: #fff;
}

h1,h2,h3,h4,h5 {
    font-weight:300;
}

.navbar {
	border-radius: 0;
	background-color: #4285f4;
	border-color: #4285f4;
}

.img-profile{
	position: relative;
	left: 4%;
	top: 42px;
	z-index: 1;
	width: 200px;
	border: 4px solid #4285f4;
}

.name-nav {
	position: absolute;
	left: 335px;
	bottom: 0;
	top: 205px;
	display: block;
}

.name-nav-small {
	position: absolute;
	left: 335px;
	top: 256px;
	display: block;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  color: #FFF;
  background-color: #296EA9;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

.btn {
	border-radius: 0;
	background-color: transparent;
	color: #565656;
}

.panel{
	border-radius: 0;
}

