@{
    HttpCookie userInfo = Request.Cookies["userInfo"];
    var CidTeacher = Server.UrlTokenDecode(userInfo["id_type_account"]);
    string id_teacher = System.Text.UTF8Encoding.UTF8.GetString(CidTeacher);
}

<div class="row" style="margin-left:15px;margin-right:15px;margin-top:10px;" ng-cloak>
    <form method="post" name="formCreateClasse" ng-submit="submitCreateClass(formCreateClasse)">

        <input type="hidden" ng-model="Classe.idDiscipline" value="Classe.idDiscipline" ng-init="Classe.idDiscipline = idDiscInitial" />

        <div class="form-group col-md-12" ng-class="{ 'has-error has-feedback': formCreateClasse.inputClasseName.$dirty && formCreateClasse.inputClasseName.$error.required }">
            <label>Nome da Turma *</label>
            <div class="input-group">
                <input type="text" class="form-control" name="inputClasseName" ng-model="Classe.name" placeholder="Nome da turma" required />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </span>
            </div>

            <p class="bg-danger" ng-show="formCreateClasse.inputClasseName.$dirty && formCreateClasse.inputClasseName.$error.required">
                Campo inválido.
            </p>
        </div>

        <div class="col-md-12">
            <div class="text-center">
                <img class="img-loading" src="@Url.Content("~/Content/images/loader.gif")" alt="Loading" ng-show="loadingCadClass" />
            </div>

            <div ng-class="resultCadClass" ng-show="resultShowCreateClass" ng-bind="resultMessageCadClass"></div>
        </div>
    </form>
</div>
