
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-wrapper">
        <div class="row">

            <!-- Container -->
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <textarea class="form-control share-text" rows="3" placeholder="Compartilhe aqui..."></textarea>
                    </div>
                    <div class="panel-footer share-buttons">
                        <span class="btn btn-default btn-file">
                            <input type="file" /><i class="glyphicon glyphicon-paperclip"></i>
                        </span>
                        <button type="submit" class="btn btn-default btn-xs pull-right" href="#">Publicar</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body painel-body-height">
                        <div class="content-panel">

                            <!-- itens post -->

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="header-post">
                                        <img src="~/Content/images/noPhoto.png" alt="Image" class="img-navbar" /> Denner Evaldt Machado,<small> publicou:</small>
                                    </div>
                                    <div class="content-post">
                                        <p class="message">
                                            Maria Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, praesentium!
                                        </p>
                                        <p>
                                            Anexos: <br>
                                            <span style="color: #337AB7;"> - link 1; </span>
                                        </p>
                                        <hr class="hr-custom">
                                        <span class="pull-right"><small>Postado: 25/02/15 ás 19:30hs.</small></span>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="header-post">
                                        <img src="~/Content/images/noPhoto.png" alt="Image" class="img-navbar" /> Denner Evaldt Machado,<small> publicou:</small>
                                    </div>
                                    <div class="content-post">
                                        <p class="message">
                                            Maria Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, praesentium!
                                        </p>
                                        <p>
                                            Anexos: <br>
                                            <span style="color: #337AB7;"> - link 1; </span>
                                        </p>
                                        <hr class="hr-custom">
                                        <span class="pull-right"><small>Postado: 25/02/15 ás 19:30hs.</small></span>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="header-post">
                                        <img src="~/Content/images/noPhoto.png" alt="Image" class="img-navbar" /> Denner Evaldt Machado,<small> publicou:</small>
                                    </div>
                                    <div class="content-post">
                                        <p class="message">
                                            Maria Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, praesentium!
                                        </p>
                                        <p>
                                            Anexos: <br>
                                            <span style="color: #337AB7;"> - link 1; </span>
                                        </p>
                                        <hr class="hr-custom">
                                        <span class="pull-right"><small>Postado: 25/02/15 ás 19:30hs.</small></span>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="header-post">
                                        <img src="~/Content/images/noPhoto.png" alt="Image" class="img-navbar" /> Denner Evaldt Machado,<small> publicou:</small>
                                    </div>
                                    <div class="content-post">
                                        <p class="message">
                                            Maria Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, praesentium!
                                        </p>
                                        <p>
                                            Anexos: <br>
                                            <span style="color: #337AB7;"> - link 1; </span>
                                        </p>
                                        <hr class="hr-custom">
                                        <span class="pull-right"><small>Postado: 25/02/15 ás 19:30hs.</small></span>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- /itens post -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->

